# for local development - do not use in production without modifications (ports exposed, etc.)
services:
  # PostgreSQL
  postgres-db:
    image: postgres:17
    container_name: postgres-db
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend
    ports:
      - "5432:5432"

  # Redis
  redis:
    image: redis:latest
    container_name: redis
    networks:
      - backend
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 3

  # FastAPI App
  app:
    build: .
    container_name: fastapi_app
    environment:
      REDIS_URL: ${REDIS_URL}
      WATCHFILES_FORCE_POLLING: "true"
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app/backend
      - pip-cache:/root/.cache/pip
    depends_on:
      - postgres-db
      - redis
    networks:
      - backend

  celery-frame-worker:
    build: .
    hostname: frame_worker_1 # Unique hostname
    environment:
      - CELERY_MODULE=${CELERY_MODULE}
      - REDIS_URL=${REDIS_URL}
      - PYTHONPATH=/app/backend
    volumes:
      - ./backend:/app/backend
      - pip-cache:/root/.cache/pip
    depends_on:
      - redis
      - postgres-db
    networks:
      - backend
    # This worker listens ONLY to the 'frame_selection_queue'
    command: celery -A ${CELERY_MODULE}.celery_app worker -Q frame_selection_queue --loglevel=info --concurrency=2 # Adjusted concurrency and queue
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "celery -A ${CELERY_MODULE}.celery_app inspect ping -t 1 | grep -q 'ok'",
        ]
      interval: 10s # Check every 10 seconds
      timeout: 5s # Allow 5 seconds for the command to complete
      retries: 5 # Retry 5 times before marking as unhealthy
      start_period: 30s # Give the worker 30 seconds to start up before checking

  # # Celery Deepfake Detection Worker
  # celery-detection-worker:
  #   build: .
  #   hostname: detection_worker_1 # Unique hostname
  #   environment:
  #     - CELERY_MODULE=backend.core.celery
  #     - REDIS_URL=redis://redis:6379/0
  #     - PYTHONPATH=/app # Added PYTHONPATH as discussed, if needed
  #     # - NVIDIA_VISIBLE_DEVICES=all # Uncomment for GPU configuration
  #     # - NVIDIA_DRIVER_CAPABILITIES=all # Uncomment if specific capabilities needed
  #   volumes:
  #     - .:/app
  #     - pip-cache:/root/.cache/pip
  #   depends_on:
  #     - redis
  #     - postgres-db
  #   networks:
  #     - backend
  #   # This worker listens ONLY to the 'deepfake_detection_queue'
  #   command: celery -A ${CELERY_MODULE}.celery_app worker -Q deepfake_detection_queue --loglevel=info --concurrency=1 # Adjusted concurrency and queue
  #   # deploy: # Uncomment for GPU support
  #   #   resources:
  #   #     reservations:
  #   #       devices:
  #   #         - driver: nvidia
  #   #           count: all
  #   #           capabilities: [gpu]

  # # Celery Notification/Logging Worker
  # celery-notification-worker:
  #   build: .
  #   hostname: notification_worker_1 # Unique hostname
  #   environment:
  #     - CELERY_MODULE=backend.core.celery
  #     - REDIS_URL=redis://redis:6379/0
  #     - PYTHONPATH=/app # Added PYTHONPATH as discussed, if needed
  #   volumes:
  #     - .:/app
  #     - pip-cache:/root/.cache/pip
  #   depends_on:
  #     - redis
  #     - postgres-db
  #   networks:
  #     - backend
  #   # This worker listens to 'websocket_messages_queue' and 'alert_logging_queue'
  #   command: celery -A ${CELERY_MODULE}.celery_app worker -Q websocket_messages_queue,alert_logging_queue --loglevel=info --concurrency=4 # Adjusted concurrency and queues

  flower:
    container_name: flower
    build: .
    command: sh -c "sleep 10 && celery -A ${CELERY_MODULE}.celery_app flower --port=5555"
    environment:
      - CELERY_MODULE={CELERY_MODULE}
      - PYTHONPATH=/app/backend
    volumes:
      - ./backend:/app/backend
      - pip-cache:/root/.cache/pip
    ports:
      - "5555:5555"
    depends_on:
      redis:
        condition: service_healthy
      celery-frame-worker:
        condition: service_healthy
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  postgres_data:
  pip-cache:
